In [18]:
import pandas as pd
import io
import requests
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping

In [19]:
# Loading the Data
df_train = pd.read_csv("Train.csv",na_values=['NA','?'])

#randomly shuffle rows
df_train = df_train.sample(frac=1)
df_train.head()
#df_train.Cabin.unique()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
517,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
169,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.4958,NaN,S
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q

In [20]:
#Handles missing vales
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].median())

In [21]:
# Create dummy variables for categorical columsn
df_sex = pd.get_dummies(df_train['Sex'])
df_embarked = pd.get_dummies(df_train['Embarked'])
#df_cabin = pd.get_dummies(data_fram['Cabin'])

# Add to data fram
#Concat new columns to original dataframe 
df_train = pd.concat([df_train, df_sex,df_embarked], axis=1) #, df_cabin
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male,C,Q,S
517,518,0,3,"Ryan, Mr. Patrick",male,28.0,0,0,371110,24.1500,NaN,Q,0,1,0,1,0
169,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.4958,NaN,S,0,1,0,0,1
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C,1,0,1,0,0
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S,0,1,0,0,1
143,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q,0,1,0,1,0

In [22]:
x = df_train[['Pclass','Age','Parch','SibSp','female','male','C','Q','S']].values
x[:5]

array([[ 3., 28.,  0.,  0.,  0.,  1.,  0.,  1.,  0.],
       [ 3., 28.,  0.,  0.,  0.,  1.,  0.,  0.,  1.],
       [ 1., 42.,  0.,  0.,  1.,  0.,  1.,  0.,  0.],
       [ 3., 37.,  0.,  2.,  0.,  1.,  0.,  0.,  1.],
       [ 3., 19.,  0.,  0.,  0.,  1.,  0.,  1.,  0.]])

In [23]:
y = df_train[['Survived']].values
y[:5]

array([[0],
       [0],
       [1],
       [0],
       [0]], dtype=int64)

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=97)
x_train[:5]

array([[ 3., 45.,  0.,  0.,  0.,  1.,  0.,  0.,  1.],
       [ 3., 20.,  0.,  0.,  0.,  1.,  0.,  0.,  1.],
       [ 2., 52.,  0.,  0.,  0.,  1.,  0.,  0.,  1.],
       [ 3., 33.,  0.,  0.,  0.,  1.,  1.,  0.,  0.],
       [ 1., 23.,  0.,  1.,  1.,  0.,  1.,  0.,  0.]])

In [25]:
### Build neural network

model = Sequential()
#Hidden Layer 1
model.add(Dense(20, activation='relu')) # nutorns and activation function
#Hidden Layer 2
model.add(Dense(20, activation='relu'))
# Output
model.add(Dense(1))
#model.compile(loss='binary_crossentropy', optimizer='adam')
model.compile(loss='mean_squared_error', optimizer='adam')

In [26]:
## Fitting the model
## with early stopping

#model.fit(x,y,verbose=2,epochs=100)
monitor = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=4, verbose=1, mode='min',restore_best_weights=True)
model.fit(x,y,validation_data=(x_test,y_test),callbacks=[monitor],verbose=2,epochs=200)
# stop the model fitting from the point from where the error no longer improves.

Train on 891 samples, validate on 179 samples
Epoch 1/200
891/891 - 0s - loss: 0.9002 - val_loss: 0.3934
Epoch 2/200
891/891 - 0s - loss: 0.2649 - val_loss: 0.2544
Epoch 3/200
891/891 - 0s - loss: 0.2195 - val_loss: 0.2332
Epoch 4/200
891/891 - 0s - loss: 0.2018 - val_loss: 0.2254
Epoch 5/200
891/891 - 0s - loss: 0.1947 - val_loss: 0.2128
Epoch 6/200
891/891 - 0s - loss: 0.1835 - val_loss: 0.2039
Epoch 7/200
891/891 - 0s - loss: 0.1800 - val_loss: 0.1941
Epoch 8/200
891/891 - 0s - loss: 0.1737 - val_loss: 0.1911
Epoch 9/200
891/891 - 0s - loss: 0.1661 - val_loss: 0.1892
Epoch 10/200
891/891 - 0s - loss: 0.1610 - val_loss: 0.1760
Epoch 11/200
891/891 - 0s - loss: 0.1556 - val_loss: 0.1959
Epoch 12/200
891/891 - 0s - loss: 0.1530 - val_loss: 0.1689
Epoch 13/200
891/891 - 0s - loss: 0.1500 - val_loss: 0.1811
Epoch 14/200
891/891 - 0s - loss: 0.1520 - val_loss: 0.1673
Epoch 15/200
891/891 - 0s - loss: 0.1442 - val_loss: 0.1624
Epoch 16/200
891/891 - 0s - loss: 0.1428 - val_loss: 0.1649
Epoch 17/200
891/891 - 0s - loss: 0.1442 - val_loss: 0.1632
Epoch 18/200
891/891 - 0s - loss: 0.1410 - val_loss: 0.1596
Epoch 19/200
891/891 - 0s - loss: 0.1435 - val_loss: 0.1772
Epoch 20/200
891/891 - 0s - loss: 0.1471 - val_loss: 0.1605
Epoch 21/200
891/891 - 0s - loss: 0.1414 - val_loss: 0.1547
Epoch 22/200
891/891 - 0s - loss: 0.1395 - val_loss: 0.1551
Epoch 23/200
891/891 - 0s - loss: 0.1368 - val_loss: 0.1638
Epoch 24/200
891/891 - 0s - loss: 0.1401 - val_loss: 0.1565
Epoch 25/200
Restoring model weights from the end of the best epoch.
891/891 - 0s - loss: 0.1395 - val_loss: 0.1542
Epoch 00025: early stopping

In [27]:
pred = model.predict(x)
# turn off scientific notation
np.set_printoptions(suppress=True)
pred[:5]

array([[ 0.0993401 ],
       [ 0.09629621],
       [ 0.9110073 ],
       [-0.01937328],
       [ 0.25600424]], dtype=float32)

In [28]:
## Checking Acurrcy

from sklearn.metrics import accuracy_score
# # whatis the percentage of predictions were correct? 
predict_classes = np.argmax(pred,axis=1)
actual_classes = np.argmax(y,axis=1)
accuracy = accuracy_score(actual_classes,predict_classes)
print(f"Accuracy: {accuracy}")

Accuracy: 1.0

# Now Predicting on Testing Set

In [29]:
# Loadin the data
df_test =pd.read_csv("Test.csv",na_values=['NA','?'])
df_test.head()
#df_test.Cabin.unique()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [30]:
#Handles missing vales
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].median())

# Create dummy variables for categorical columsn
df_sex = pd.get_dummies(df_test['Sex'])
df_embarked = pd.get_dummies(df_test['Embarked'])
#df_cabin = pd.get_dummies(data_fram['Cabin'])

# Add to data fram
#Concat new columns to original dataframe 
df_test = pd.concat([df_test, df_sex,df_embarked], axis=1) #, df_cabin
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male,C,Q,S
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,1,0,1,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,0,0,0,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,1,0,1,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,1,0,0,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1,0,0,0,1

In [31]:
x = df_test[['Pclass','Age','Parch','SibSp','female','male','C','Q','S']].values
x[:5]

array([[ 3. , 34.5,  0. ,  0. ,  0. ,  1. ,  0. ,  1. ,  0. ],
       [ 3. , 47. ,  0. ,  1. ,  1. ,  0. ,  0. ,  0. ,  1. ],
       [ 2. , 62. ,  0. ,  0. ,  0. ,  1. ,  0. ,  1. ,  0. ],
       [ 3. , 27. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  1. ],
       [ 3. , 22. ,  1. ,  1. ,  1. ,  0. ,  0. ,  0. ,  1. ]])

In [32]:
pred = model.predict(x)
# turn off scientific notation
np.set_printoptions(suppress=True)
pred[:5]

array([[-0.01380644],
       [ 0.55537474],
       [ 0.03507485],
       [ 0.10407962],
       [ 0.55549777]], dtype=float32)

In [33]:
i = 0
for i in range(df_test.shape[0]):
    if (pred[i] >= 0.5):
        print(str(df_test['PassengerId'][i]) + "  Estimated:" + str(pred[i]) + "-> Survived    : 1")
    else:
        print(str(df_test['PassengerId'][i]) + "  Estimated:" + str(pred[i]) + "-> Not Survived: 0")

892  Estimated:[-0.01380644]-> Not Survived: 0
893  Estimated:[0.55537474]-> Survived    : 1
894  Estimated:[0.03507485]-> Not Survived: 0
895  Estimated:[0.10407962]-> Not Survived: 0
896  Estimated:[0.55549777]-> Survived    : 1
897  Estimated:[0.20525791]-> Not Survived: 0
898  Estimated:[0.60815585]-> Survived    : 1
899  Estimated:[0.09939732]-> Not Survived: 0
900  Estimated:[0.75614035]-> Survived    : 1
901  Estimated:[0.12704004]-> Not Survived: 0
902  Estimated:[0.10407962]-> Not Survived: 0
903  Estimated:[0.23954071]-> Not Survived: 0
904  Estimated:[0.8433269]-> Survived    : 1
905  Estimated:[0.10357679]-> Not Survived: 0
906  Estimated:[0.86598074]-> Survived    : 1
907  Estimated:[0.76918566]-> Survived    : 1
908  Estimated:[0.06818523]-> Not Survived: 0
909  Estimated:[0.22912373]-> Not Survived: 0
910  Estimated:[0.5364958]-> Survived    : 1
911  Estimated:[0.61972487]-> Survived    : 1
912  Estimated:[0.30956617]-> Not Survived: 0
913  Estimated:[0.22730638]-> Not Survived: 0
914  Estimated:[0.84723413]-> Survived    : 1
915  Estimated:[0.32431558]-> Not Survived: 0
916  Estimated:[0.8683034]-> Survived    : 1
917  Estimated:[-0.02428327]-> Not Survived: 0
918  Estimated:[0.8964517]-> Survived    : 1
919  Estimated:[0.20942701]-> Not Survived: 0
920  Estimated:[0.2456745]-> Not Survived: 0
921  Estimated:[0.17519368]-> Not Survived: 0
922  Estimated:[0.11951937]-> Not Survived: 0
923  Estimated:[0.12365831]-> Not Survived: 0
924  Estimated:[0.48960033]-> Not Survived: 0
925  Estimated:[0.48393646]-> Not Survived: 0
926  Estimated:[0.34022895]-> Not Survived: 0
927  Estimated:[0.26195183]-> Not Survived: 0
928  Estimated:[0.5600294]-> Survived    : 1
929  Estimated:[0.62810004]-> Survived    : 1
930  Estimated:[0.11964478]-> Not Survived: 0
931  Estimated:[0.10407962]-> Not Survived: 0
932  Estimated:[0.04006257]-> Not Survived: 0
933  Estimated:[0.2628452]-> Not Survived: 0
934  Estimated:[-0.03776537]-> Not Survived: 0
935  Estimated:[0.6947633]-> Survived    : 1
936  Estimated:[0.8640934]-> Survived    : 1
937  Estimated:[0.11964478]-> Not Survived: 0
938  Estimated:[0.29314438]-> Not Survived: 0
939  Estimated:[0.11674656]-> Not Survived: 0
940  Estimated:[0.88893044]-> Survived    : 1
941  Estimated:[0.49256197]-> Not Survived: 0
942  Estimated:[0.27909318]-> Not Survived: 0
943  Estimated:[0.15721263]-> Not Survived: 0
944  Estimated:[0.65878046]-> Survived    : 1
945  Estimated:[0.7952248]-> Survived    : 1
946  Estimated:[0.15721263]-> Not Survived: 0
947  Estimated:[-0.03149388]-> Not Survived: 0
948  Estimated:[0.00741472]-> Not Survived: 0
949  Estimated:[0.11964478]-> Not Survived: 0
950  Estimated:[0.09512986]-> Not Survived: 0
951  Estimated:[0.91836584]-> Survived    : 1
952  Estimated:[0.18190981]-> Not Survived: 0
953  Estimated:[0.11338224]-> Not Survived: 0
954  Estimated:[0.17412604]-> Not Survived: 0
955  Estimated:[0.72115934]-> Survived    : 1
956  Estimated:[0.30624095]-> Not Survived: 0
957  Estimated:[0.6919311]-> Survived    : 1
958  Estimated:[0.7685169]-> Survived    : 1
959  Estimated:[0.23831381]-> Not Survived: 0
960  Estimated:[0.31031647]-> Not Survived: 0
961  Estimated:[0.77313197]-> Survived    : 1
962  Estimated:[0.6974822]-> Survived    : 1
963  Estimated:[0.150777]-> Not Survived: 0
964  Estimated:[0.538515]-> Survived    : 1
965  Estimated:[0.31338182]-> Not Survived: 0
966  Estimated:[0.919592]-> Survived    : 1
967  Estimated:[0.30847612]-> Not Survived: 0
968  Estimated:[0.10407962]-> Not Survived: 0
969  Estimated:[0.87340224]-> Survived    : 1
970  Estimated:[0.1166283]-> Not Survived: 0
971  Estimated:[0.6974822]-> Survived    : 1
972  Estimated:[0.49195173]-> Not Survived: 0
973  Estimated:[0.2424723]-> Not Survived: 0
974  Estimated:[0.23586096]-> Not Survived: 0
975  Estimated:[0.10407962]-> Not Survived: 0
976  Estimated:[0.09273447]-> Not Survived: 0
977  Estimated:[0.21442284]-> Not Survived: 0
978  Estimated:[0.65918934]-> Survived    : 1
979  Estimated:[0.64955175]-> Survived    : 1
980  Estimated:[0.65918934]-> Survived    : 1
981  Estimated:[0.5930616]-> Survived    : 1
982  Estimated:[0.5826756]-> Survived    : 1
983  Estimated:[0.10407962]-> Not Survived: 0
984  Estimated:[0.7945434]-> Survived    : 1
985  Estimated:[0.10407962]-> Not Survived: 0
986  Estimated:[0.31767574]-> Not Survived: 0
987  Estimated:[0.11964478]-> Not Survived: 0
988  Estimated:[0.8456198]-> Survived    : 1
989  Estimated:[0.08716096]-> Not Survived: 0
990  Estimated:[0.63525033]-> Survived    : 1
991  Estimated:[0.0346364]-> Not Survived: 0
992  Estimated:[0.93846786]-> Survived    : 1
993  Estimated:[0.12662257]-> Not Survived: 0
994  Estimated:[0.11674656]-> Not Survived: 0
995  Estimated:[0.11186303]-> Not Survived: 0
996  Estimated:[0.7469001]-> Survived    : 1
997  Estimated:[0.09629621]-> Not Survived: 0
998  Estimated:[0.22118963]-> Not Survived: 0
999  Estimated:[0.11674656]-> Not Survived: 0
1000  Estimated:[0.10407962]-> Not Survived: 0
1001  Estimated:[0.2054509]-> Not Survived: 0
1002  Estimated:[0.15424813]-> Not Survived: 0
1003  Estimated:[0.65918934]-> Survived    : 1
1004  Estimated:[0.91836584]-> Survived    : 1
1005  Estimated:[0.76259685]-> Survived    : 1
1006  Estimated:[0.86156]-> Survived    : 1
1007  Estimated:[0.3038973]-> Not Survived: 0
1008  Estimated:[0.15272845]-> Not Survived: 0
1009  Estimated:[0.82954574]-> Survived    : 1
1010  Estimated:[0.30418387]-> Not Survived: 0
1011  Estimated:[0.69368756]-> Survived    : 1
1012  Estimated:[0.73618126]-> Survived    : 1
1013  Estimated:[0.14243282]-> Not Survived: 0
1014  Estimated:[0.9348725]-> Survived    : 1
1015  Estimated:[0.09629621]-> Not Survived: 0
1016  Estimated:[0.11674656]-> Not Survived: 0
1017  Estimated:[0.64626896]-> Survived    : 1
1018  Estimated:[0.14299406]-> Not Survived: 0
1019  Estimated:[0.58886707]-> Survived    : 1
1020  Estimated:[0.1006452]-> Not Survived: 0
1021  Estimated:[0.12742795]-> Not Survived: 0
1022  Estimated:[0.04776802]-> Not Survived: 0
1023  Estimated:[0.28333488]-> Not Survived: 0
1024  Estimated:[0.45131984]-> Not Survived: 0
1025  Estimated:[0.21442284]-> Not Survived: 0
1026  Estimated:[-0.0410112]-> Not Survived: 0
1027  Estimated:[0.12742795]-> Not Survived: 0
1028  Estimated:[0.15892495]-> Not Survived: 0
1029  Estimated:[0.13342895]-> Not Survived: 0
1030  Estimated:[0.6073841]-> Survived    : 1
1031  Estimated:[-0.17409168]-> Not Survived: 0
1032  Estimated:[0.17258085]-> Not Survived: 0
1033  Estimated:[0.8528985]-> Survived    : 1
1034  Estimated:[0.30741087]-> Not Survived: 0
1035  Estimated:[0.1198739]-> Not Survived: 0
1036  Estimated:[0.2444457]-> Not Survived: 0
1037  Estimated:[-0.02516852]-> Not Survived: 0
1038  Estimated:[0.2628452]-> Not Survived: 0
1039  Estimated:[0.1429943]-> Not Survived: 0
1040  Estimated:[0.2628452]-> Not Survived: 0
1041  Estimated:[0.10317339]-> Not Survived: 0
1042  Estimated:[0.8973961]-> Survived    : 1
1043  Estimated:[0.15272845]-> Not Survived: 0
1044  Estimated:[-0.06584536]-> Not Survived: 0
1045  Estimated:[0.49256197]-> Not Survived: 0
1046  Estimated:[-0.07112204]-> Not Survived: 0
1047  Estimated:[0.12742795]-> Not Survived: 0
1048  Estimated:[0.84912264]-> Survived    : 1
1049  Estimated:[0.6073841]-> Survived    : 1
1050  Estimated:[0.2444457]-> Not Survived: 0
1051  Estimated:[0.5175129]-> Survived    : 1
1052  Estimated:[0.65918934]-> Survived    : 1
1053  Estimated:[0.42692748]-> Not Survived: 0
1054  Estimated:[0.69098675]-> Survived    : 1
1055  Estimated:[0.10407962]-> Not Survived: 0
1056  Estimated:[0.10187091]-> Not Survived: 0
1057  Estimated:[0.5092727]-> Survived    : 1
1058  Estimated:[0.28946605]-> Not Survived: 0
1059  Estimated:[0.10702409]-> Not Survived: 0
1060  Estimated:[0.92745245]-> Survived    : 1
1061  Estimated:[0.6192235]-> Survived    : 1
1062  Estimated:[0.10407962]-> Not Survived: 0
1063  Estimated:[0.15272845]-> Not Survived: 0
1064  Estimated:[0.1450168]-> Not Survived: 0
1065  Estimated:[0.15272845]-> Not Survived: 0
1066  Estimated:[-0.1478108]-> Not Survived: 0
1067  Estimated:[0.65757096]-> Survived    : 1
1068  Estimated:[0.68532336]-> Survived    : 1
1069  Estimated:[0.31079498]-> Not Survived: 0
1070  Estimated:[0.6215862]-> Survived    : 1
1071  Estimated:[0.88749516]-> Survived    : 1
1072  Estimated:[0.1166283]-> Not Survived: 0
1073  Estimated:[0.33337823]-> Not Survived: 0
1074  Estimated:[0.8386073]-> Survived    : 1
1075  Estimated:[0.11674656]-> Not Survived: 0
1076  Estimated:[0.9010416]-> Survived    : 1
1077  Estimated:[0.10309757]-> Not Survived: 0
1078  Estimated:[0.65998673]-> Survived    : 1
1079  Estimated:[0.17692651]-> Not Survived: 0
1080  Estimated:[0.18779244]-> Not Survived: 0
1081  Estimated:[0.10309757]-> Not Survived: 0
1082  Estimated:[0.13322915]-> Not Survived: 0
1083  Estimated:[0.2628447]-> Not Survived: 0
1084  Estimated:[0.23210563]-> Not Survived: 0
1085  Estimated:[0.03629794]-> Not Survived: 0
1086  Estimated:[0.2534394]-> Not Survived: 0
1087  Estimated:[0.0346364]-> Not Survived: 0
1088  Estimated:[0.71270096]-> Survived    : 1
1089  Estimated:[0.64955175]-> Survived    : 1
1090  Estimated:[0.17042674]-> Not Survived: 0
1091  Estimated:[0.5600294]-> Survived    : 1
1092  Estimated:[0.65918934]-> Survived    : 1
1093  Estimated:[1.1043539]-> Survived    : 1
1094  Estimated:[0.31937853]-> Not Survived: 0
1095  Estimated:[0.7310735]-> Survived    : 1
1096  Estimated:[0.14655985]-> Not Survived: 0
1097  Estimated:[0.3152217]-> Not Survived: 0
1098  Estimated:[0.53856814]-> Survived    : 1
1099  Estimated:[0.1596917]-> Not Survived: 0
1100  Estimated:[0.92204463]-> Survived    : 1
1101  Estimated:[0.11964478]-> Not Survived: 0
1102  Estimated:[0.04776802]-> Not Survived: 0
1103  Estimated:[0.10407962]-> Not Survived: 0
1104  Estimated:[0.21712531]-> Not Survived: 0
1105  Estimated:[0.7214395]-> Survived    : 1
1106  Estimated:[0.4939269]-> Not Survived: 0
1107  Estimated:[0.2444457]-> Not Survived: 0
1108  Estimated:[0.65918934]-> Survived    : 1
1109  Estimated:[0.25647035]-> Not Survived: 0
1110  Estimated:[0.9227506]-> Survived    : 1
1111  Estimated:[0.10407962]-> Not Survived: 0
1112  Estimated:[0.77484906]-> Survived    : 1
1113  Estimated:[0.150777]-> Not Survived: 0
1114  Estimated:[0.68720996]-> Survived    : 1
1115  Estimated:[0.15077747]-> Not Survived: 0
1116  Estimated:[0.89751637]-> Survived    : 1
1117  Estimated:[0.62604153]-> Survived    : 1
1118  Estimated:[0.13521041]-> Not Survived: 0
1119  Estimated:[0.65918934]-> Survived    : 1
1120  Estimated:[-0.03695403]-> Not Survived: 0
1121  Estimated:[0.10800447]-> Not Survived: 0
1122  Estimated:[0.2404746]-> Not Survived: 0
1123  Estimated:[0.84157014]-> Survived    : 1
1124  Estimated:[0.16995944]-> Not Survived: 0
1125  Estimated:[0.11674656]-> Not Survived: 0
1126  Estimated:[0.3291897]-> Not Survived: 0
1127  Estimated:[0.1585597]-> Not Survived: 0
1128  Estimated:[0.29852834]-> Not Survived: 0
1129  Estimated:[0.24225463]-> Not Survived: 0
1130  Estimated:[0.6570239]-> Survived    : 1
1131  Estimated:[0.93233454]-> Survived    : 1
1132  Estimated:[0.8950616]-> Survived    : 1
1133  Estimated:[0.6563605]-> Survived    : 1
1134  Estimated:[0.32356563]-> Not Survived: 0
1135  Estimated:[0.10407962]-> Not Survived: 0
1136  Estimated:[0.03702034]-> Not Survived: 0
1137  Estimated:[0.27435985]-> Not Survived: 0
1138  Estimated:[0.68721116]-> Survived    : 1
1139  Estimated:[0.11450066]-> Not Survived: 0
1140  Estimated:[0.69368756]-> Survived    : 1
1141  Estimated:[0.64384687]-> Survived    : 1
1142  Estimated:[0.98312527]-> Survived    : 1
1143  Estimated:[0.1585597]-> Not Survived: 0
1144  Estimated:[0.34390822]-> Not Survived: 0
1145  Estimated:[0.12742795]-> Not Survived: 0
1146  Estimated:[0.04120268]-> Not Survived: 0
1147  Estimated:[0.10407867]-> Not Survived: 0
1148  Estimated:[0.11674656]-> Not Survived: 0
1149  Estimated:[0.09629621]-> Not Survived: 0
1150  Estimated:[0.6843798]-> Survived    : 1
1151  Estimated:[0.150777]-> Not Survived: 0
1152  Estimated:[-0.01971446]-> Not Survived: 0
1153  Estimated:[0.150777]-> Not Survived: 0
1154  Estimated:[0.6412591]-> Survived    : 1
1155  Estimated:[0.82954574]-> Survived    : 1
1156  Estimated:[0.16318502]-> Not Survived: 0
1157  Estimated:[0.10407962]-> Not Survived: 0
1158  Estimated:[0.2628452]-> Not Survived: 0
1159  Estimated:[0.10407962]-> Not Survived: 0
1160  Estimated:[0.5600294]-> Survived    : 1
1161  Estimated:[0.18190981]-> Not Survived: 0
1162  Estimated:[0.291917]-> Not Survived: 0
1163  Estimated:[0.11674656]-> Not Survived: 0
1164  Estimated:[0.92637646]-> Survived    : 1
1165  Estimated:[0.62541544]-> Survived    : 1
1166  Estimated:[0.15272845]-> Not Survived: 0
1167  Estimated:[0.68519187]-> Survived    : 1
1168  Estimated:[0.1198739]-> Not Survived: 0
1169  Estimated:[0.13178457]-> Not Survived: 0
1170  Estimated:[0.12945355]-> Not Survived: 0
1171  Estimated:[0.17821111]-> Not Survived: 0
1172  Estimated:[0.6073841]-> Survived    : 1
1173  Estimated:[0.79653]-> Survived    : 1
1174  Estimated:[0.65918934]-> Survived    : 1
1175  Estimated:[0.82977444]-> Survived    : 1
1176  Estimated:[0.7272473]-> Survived    : 1
1177  Estimated:[-0.00999365]-> Not Survived: 0
1178  Estimated:[0.10407867]-> Not Survived: 0
1179  Estimated:[0.27909318]-> Not Survived: 0
1180  Estimated:[0.15272845]-> Not Survived: 0
1181  Estimated:[0.10407962]-> Not Survived: 0
1182  Estimated:[0.2628452]-> Not Survived: 0
1183  Estimated:[0.60815585]-> Survived    : 1
1184  Estimated:[0.15272845]-> Not Survived: 0
1185  Estimated:[0.26137653]-> Not Survived: 0
1186  Estimated:[-0.00999365]-> Not Survived: 0
1187  Estimated:[0.11186303]-> Not Survived: 0
1188  Estimated:[1.2105104]-> Survived    : 1
1189  Estimated:[0.17519368]-> Not Survived: 0
1190  Estimated:[0.2591652]-> Not Survived: 0
1191  Estimated:[0.08716096]-> Not Survived: 0
1192  Estimated:[0.04776802]-> Not Survived: 0
1193  Estimated:[0.15721263]-> Not Survived: 0
1194  Estimated:[0.10115446]-> Not Survived: 0
1195  Estimated:[0.12742795]-> Not Survived: 0
1196  Estimated:[0.65918934]-> Survived    : 1
1197  Estimated:[0.8557488]-> Survived    : 1
1198  Estimated:[0.2321967]-> Not Survived: 0
1199  Estimated:[0.7720547]-> Survived    : 1
1200  Estimated:[0.25892368]-> Not Survived: 0
1201  Estimated:[0.55348647]-> Survived    : 1
1202  Estimated:[0.17412652]-> Not Survived: 0
1203  Estimated:[0.21599306]-> Not Survived: 0
1204  Estimated:[0.10407962]-> Not Survived: 0
1205  Estimated:[0.5361141]-> Survived    : 1
1206  Estimated:[0.8950616]-> Survived    : 1
1207  Estimated:[0.78035617]-> Survived    : 1
1208  Estimated:[0.3071138]-> Not Survived: 0
1209  Estimated:[0.2015592]-> Not Survived: 0
1210  Estimated:[0.10407867]-> Not Survived: 0
1211  Estimated:[0.12384881]-> Not Survived: 0
1212  Estimated:[0.11186303]-> Not Survived: 0
1213  Estimated:[0.17751469]-> Not Survived: 0
1214  Estimated:[0.13342895]-> Not Survived: 0
1215  Estimated:[0.25548664]-> Not Survived: 0
1216  Estimated:[0.8585614]-> Survived    : 1
1217  Estimated:[0.13521041]-> Not Survived: 0
1218  Estimated:[0.6512294]-> Survived    : 1
1219  Estimated:[0.291917]-> Not Survived: 0
1220  Estimated:[0.12850966]-> Not Survived: 0
1221  Estimated:[0.18599309]-> Not Survived: 0
1222  Estimated:[0.6591941]-> Survived    : 1
1223  Estimated:[0.3005027]-> Not Survived: 0
1224  Estimated:[0.15272845]-> Not Survived: 0
1225  Estimated:[0.7113826]-> Survived    : 1
1226  Estimated:[0.10407962]-> Not Survived: 0
1227  Estimated:[0.2591652]-> Not Survived: 0
1228  Estimated:[0.11338224]-> Not Survived: 0
1229  Estimated:[0.06887998]-> Not Survived: 0
1230  Estimated:[0.14655985]-> Not Survived: 0
1231  Estimated:[0.15272845]-> Not Survived: 0
1232  Estimated:[0.20934226]-> Not Survived: 0
1233  Estimated:[0.04776802]-> Not Survived: 0
1234  Estimated:[0.08328022]-> Not Survived: 0
1235  Estimated:[0.893119]-> Survived    : 1
1236  Estimated:[0.06419744]-> Not Survived: 0
1237  Estimated:[0.66485107]-> Survived    : 1
1238  Estimated:[0.13342895]-> Not Survived: 0
1239  Estimated:[0.62722886]-> Survived    : 1
1240  Estimated:[0.1596917]-> Not Survived: 0
1241  Estimated:[0.6957072]-> Survived    : 1
1242  Estimated:[0.90906346]-> Survived    : 1
1243  Estimated:[0.14656056]-> Not Survived: 0
1244  Estimated:[0.20934226]-> Not Survived: 0
1245  Estimated:[0.09482731]-> Not Survived: 0
1246  Estimated:[1.1189877]-> Survived    : 1
1247  Estimated:[0.23463501]-> Not Survived: 0
1248  Estimated:[0.8771788]-> Survived    : 1
1249  Estimated:[0.10407962]-> Not Survived: 0
1250  Estimated:[0.11674656]-> Not Survived: 0
1251  Estimated:[0.539328]-> Survived    : 1
1252  Estimated:[-0.56911695]-> Not Survived: 0
1253  Estimated:[0.742906]-> Survived    : 1
1254  Estimated:[0.6957072]-> Survived    : 1
1255  Estimated:[0.10407962]-> Not Survived: 0
1256  Estimated:[0.92543304]-> Survived    : 1
1257  Estimated:[0.46253315]-> Not Survived: 0
1258  Estimated:[0.21442284]-> Not Survived: 0
1259  Estimated:[0.6192235]-> Survived    : 1
1260  Estimated:[0.9090637]-> Survived    : 1
1261  Estimated:[0.16053213]-> Not Survived: 0
1262  Estimated:[0.17223682]-> Not Survived: 0
1263  Estimated:[0.9244982]-> Survived    : 1
1264  Estimated:[0.23586096]-> Not Survived: 0
1265  Estimated:[0.09819235]-> Not Survived: 0
1266  Estimated:[0.8463088]-> Survived    : 1
1267  Estimated:[0.90732896]-> Survived    : 1
1268  Estimated:[0.54612696]-> Survived    : 1
1269  Estimated:[0.18599309]-> Not Survived: 0
1270  Estimated:[0.22850193]-> Not Survived: 0
1271  Estimated:[0.12458862]-> Not Survived: 0
1272  Estimated:[0.11674656]-> Not Survived: 0
1273  Estimated:[0.13415398]-> Not Survived: 0
1274  Estimated:[0.5600289]-> Survived    : 1
1275  Estimated:[0.6181934]-> Survived    : 1
1276  Estimated:[0.120299]-> Not Survived: 0
1277  Estimated:[0.636408]-> Survived    : 1
1278  Estimated:[0.12742795]-> Not Survived: 0
1279  Estimated:[0.08224787]-> Not Survived: 0
1280  Estimated:[0.22118963]-> Not Survived: 0
1281  Estimated:[0.25919846]-> Not Survived: 0
1282  Estimated:[0.2677509]-> Not Survived: 0
1283  Estimated:[0.84360754]-> Survived    : 1
1284  Estimated:[0.17930795]-> Not Survived: 0
1285  Estimated:[0.0945126]-> Not Survived: 0
1286  Estimated:[-0.03257857]-> Not Survived: 0
1287  Estimated:[0.8386073]-> Survived    : 1
1288  Estimated:[0.16896857]-> Not Survived: 0
1289  Estimated:[0.9208633]-> Survived    : 1
1290  Estimated:[0.1429943]-> Not Survived: 0
1291  Estimated:[0.04711785]-> Not Survived: 0
1292  Estimated:[0.8500663]-> Survived    : 1
1293  Estimated:[0.13423957]-> Not Survived: 0
1294  Estimated:[0.8964517]-> Survived    : 1
1295  Estimated:[0.25955907]-> Not Survived: 0
1296  Estimated:[0.32428375]-> Not Survived: 0
1297  Estimated:[0.24913014]-> Not Survived: 0
1298  Estimated:[0.14855875]-> Not Survived: 0
1299  Estimated:[0.31743398]-> Not Survived: 0
1300  Estimated:[0.65918934]-> Survived    : 1
1301  Estimated:[0.7877021]-> Survived    : 1
1302  Estimated:[0.65918934]-> Survived    : 1
1303  Estimated:[0.85240376]-> Survived    : 1
1304  Estimated:[0.5481888]-> Survived    : 1
1305  Estimated:[0.10407962]-> Not Survived: 0
1306  Estimated:[0.9146873]-> Survived    : 1
1307  Estimated:[-0.03370772]-> Not Survived: 0
1308  Estimated:[0.10407867]-> Not Survived: 0
1309  Estimated:[0.18456472]-> Not Survived: 0